@inherits LayoutComponentBase

<div class="page bg-gray-100 dark:bg-[#171717] text-stone-800 dark:text-stone-100">
    <div class="">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 bg-slate-900 dark:bg-black">
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
