@page "/byte_calc"

<h3>Calculadora de Bytes</h3>

<h5 class="mt-4">Conversão de de medidas informáticas</h5>

<div class="container-fluid mt-4 m-auto w-auto">
    <h5>Quantos megabytes (MB) é um gigabyte (GB)? E um terabyte (TB)?</h5>
    A unidade de conversão da calculadora de Bytes baseia-se nas tabelas oficiais de conversão de dados. Isto torna
    muito fácil de passar dados de megabytes a gigabytes, ou kilobytes a terabytes.

    <div class="mt-4">
        <table class="table">
            <tbody>
                <tr>
                    <td><b>Nome</b></td>
                    <td><b>Símbolo</b></td>
                    <td colspan="4"></td>
                    <td colspan="4"><strong>Equivalência</strong></td>
                </tr>
                <tr>
                    <td>bit</td>
                    <td>b</td>
                    <td></td>
                    <td></td>
                    <td width="27"></td>
                    <td></td>
                    <td>1</td>
                    <td>bit</td>
                    <td width="24">=</td>
                    <td>1 bit</td>
                </tr>
                <tr>
                    <td>byte</td>
                    <td>B</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>B</td>
                    <td>=</td>
                    <td>8 bit</td>
                </tr>
                <tr>
                    <td>kilobit</td>
                    <td>kbit / kb</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>kBit</td>
                    <td>=</td>
                    <td>1000 bit</td>
                </tr>
                <tr>
                    <td>Kibibit</td>
                    <td>KiBit</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>KiBit</td>
                    <td>=</td>
                    <td>1024 bit</td>
                </tr>
                <tr>
                    <td>kilobyte</td>
                    <td>kB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>kB</td>
                    <td>=</td>
                    <td>1000 Byte</td>
                </tr>
                <tr>
                    <td>kibibyte</td>
                    <td>KiB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>KiB</td>
                    <td>=</td>
                    <td>1024 Byte</td>
                </tr>
                <tr>
                    <td>megabit</td>
                    <td>MBit / Mb</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>MBit</td>
                    <td>=</td>
                    <td>1000 kBit</td>
                </tr>
                <tr>
                    <td>mebibit</td>
                    <td>MiBit / Mib</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>Mib</td>
                    <td>=</td>
                    <td>1024 KiBit</td>
                </tr>
                <tr>
                    <td>megabyte</td>
                    <td>MB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>MB</td>
                    <td>=</td>
                    <td>1000 kB</td>
                </tr>
                <tr>
                    <td>Mebibyte</td>
                    <td>MiBit / MiB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>MiB</td>
                    <td>=</td>
                    <td>1024 KiB</td>
                </tr>
                <tr>
                    <td>gigabit</td>
                    <td>GBit /<label>Gb</label></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>GBit</td>
                    <td>=</td>
                    <td>1000 MBit</td>
                </tr>
                <tr>
                    <td>gibibit</td>
                    <td>GiBit / Gib</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>Gib</td>
                    <td>=</td>
                    <td>1024 MiBit</td>
                </tr>
                <tr>
                    <td>gigabyte</td>
                    <td>GB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>GB</td>
                    <td>=</td>
                    <td>1000 MB</td>
                </tr>
                <tr>
                    <td>gibibyte</td>
                    <td>GiB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>GiB</td>
                    <td>=</td>
                    <td>1024 MiB</td>
                </tr>
                <tr>
                    <td>terabyte</td>
                    <td>TB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>TB</td>
                    <td>=</td>
                    <td>1000 GB</td>
                </tr>
                <tr>
                    <td>tebibyte</td>
                    <td>TiB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>TiB</td>
                    <td>=</td>
                    <td>1024 GiB</td>
                </tr>
                <tr>
                    <td>petabyte</td>
                    <td>PB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>PB</td>
                    <td>=</td>
                    <td>1000 TB</td>
                </tr>
                <tr>
                    <td>pebibyte</td>
                    <td>PiB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>PiB</td>
                    <td>=</td>
                    <td>1024 TiB</td>
                </tr>
                <tr>
                    <td>exabyte</td>
                    <td>EB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>EB</td>
                    <td>=</td>
                    <td>1000 PB</td>
                </tr>
                <tr>
                    <td>exbibyte</td>
                    <td>EiB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>EiB</td>
                    <td>=</td>
                    <td>1024 PiB</td>
                </tr>
                <tr>
                    <td>zettabyte</td>
                    <td>ZB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>ZB</td>
                    <td>=</td>
                    <td>1000 EB</td>
                </tr>
                <tr>
                    <td>zebibyte</td>
                    <td>ZiB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>ZiB</td>
                    <td>=</td>
                    <td>1024 EiB</td>
                </tr>
                <tr>
                    <td>yottabyte</td>
                    <td>YB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>YB</td>
                    <td>=</td>
                    <td>1000 ZB</td>
                </tr>
                <tr>
                    <td>yobibyte</td>
                    <td>YiB</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                    <td>YiB</td>
                    <td>=</td>
                    <td>1024 ZiB</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


@code {

}
