@page "/habilitacao"

<PageTitle>Hebilitação</PageTitle>
<h3>Departamento de Transito</h3>
<h6>Você está apto a dirigir?</h6>

<div class="container-fluid ">
    <div class="row">
        <div class="mt-4">
            <label class="form-label">Data de Nascimento</label>
            <input type="date" class="form-text form-control-sm" style="width: 120px; height: 25px;" 
                   @bind="dataNascimento"
                   @bind:event="oninput">
            <button class="btn btn-primary btn-sm " @onclick="VerificaAptidao">Verificar</button>
        </div>
    </div>
</div>

<p class="mt-4 @(idade < 18 ? "text-danger" : "text-success")">@message</p>

@code {
    DateTime hoje = DateTime.Now;
    DateTime dataNascimento = DateTime.Now;
    int idade;
    string message = "";

    private void VerificaAptidao()
    {
        idade = hoje.Year - dataNascimento.Year;
        if (hoje.Month < dataNascimento.Month ||
            (hoje.Month == dataNascimento.Month && hoje.Day < dataNascimento.Day))
    {
        idade--;
    }

        message = idade >= 18 ? $"Você está apto a dirigir com {idade} anos!!!" : $"Você não está apto a dirigir com {idade} anos!!!";
    }
}
