@page "/"

<PageTitle>Home</PageTitle>

<h3>Algoritimos</h3>
<p>Quando estamos estudando lógica de programação, os primeiros exercicios são orientados a serem
    implementados no terminal.</p>
<p>Nossa ideia é propor uma forma criativa de implementar esses algoritmos utilizando uma interface web, para isso
    utilizaremos o Blazor.</p>

<div class="d-flex justify-content-center align-items-center">
    <div class="w-auto">
        <img src="robo_boy.png" alt="Descrição da imagem" class="img-fluid">
        <h5 class="text-decoration-underline text-danger text-end ">Have fun!!!</h5>
    </div>
</div>