@page "/"

<PageTitle>Home</PageTitle>

<h3>Algoritimos</h3>
<p class="text-justify">Quando estamos estudando lógica de programação, os primeiros exercicios são orientados a serem implementados no terminal.</p>
<p>Nossa ideia é propor uma forma criativa de implementar esses algoritmos utilizando uma interface web, para isso utilizaremos o Blazor.</p>

<img src="images/robo_boy.jpg" alt="Descrição da imagem">

<h5 class="text-decoration-underline text-danger">Have fun!!!</h5>