@page "/"

<PageTitle>Home</PageTitle>
<div class="flex flex-col max-w-3xl w-4/5 sm:w-3/4 lg:w-2/3 xl:w-2/3 mx-auto">
    
    <h3 class="text-3xl font-bold">Algoritmos</h3>
    
    <p class="mt-4">Quando estamos estudando lógica de programação, os primeiros exercicios são orientados a serem
        implementados no terminal.</p>
    <p>Nossa ideia é propor uma forma criativa de implementar esses algoritmos utilizando uma interface web, para isso
        utilizaremos o Blazor.</p>
    
    <img class="mt-3 rounded-lg shadow-lg" src="robo_boy.png" alt="Robo boy" />
    <p class="mt-2 text-right">Have fun</p>
</div>