@page "/"

<PageTitle>Home</PageTitle>

<h3>Algoritimos</h3>
<p>Quando estamos estudando lógica de programação, os primeiros exercicios são orientados a serem
    implementados no terminal.</p>
<p>Nossa ideia é propor uma forma criativa de implementar esses algoritmos utilizando uma interface web, para isso
    utilizaremos o Blazor.</p>

<div class="p-6 max-h-64 max-w-64 mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
<img class="max-h-64 max-w-64 mx-auto rounded-2xl" src="robo_boy.png" alt="Descrição da imagem"/>
</div>
