@page "/"

<PageTitle>Home</PageTitle>

<h3 class="text-3xl font-bold">Algoritmos</h3>

<p class="mt-4">Quando estamos estudando lógica de programação, os primeiros exercicios são orientados a serem
    implementados no terminal.</p>
<p>Nossa ideia é propor uma forma criativa de implementar esses algoritmos utilizando uma interface web, para isso
    utilizaremos o Blazor.</p>

<img class="w-4/5 sm:w-3/4 lg:w-2/3 xl:w-1/2 2xl:w-2/5 mt-4 mx-auto rounded-lg shadow-lg" src="robo_boy.png" alt="Robo boy" />
<p>Have fun</p>