@page "/"

<PageTitle>Home</PageTitle>

<h3>Algoritimos</h3>
<p>Quando estamos estudando lógica de programação, os primeiros exercicios são orientados a serem
    implementados no terminal.</p>
<p>Nossa ideia é propor uma forma criativa de implementar esses algoritmos utilizando uma interface web, para isso
    utilizaremos o Blazor.</p>

<div class="px-8 py-12 max-w-md mx-auto sm:max-w-xl lg:max-w-full lg:w-1/2 lg:py-24 lg:px-12">
    <div class="xl:max-w-lg xl:ml-auto">
        <img src="robo_boy.png" alt="Descrição da imagem" />
    </div>
</div>